@font-face {
  font-family: ApercuBoldItalic;
  src: url("../fonts/Apercu\ Pro\ Italic.otf");
}

@font-face {
  font-family: Light;
  src: url("../fonts/Apercu\ Pro\ Light.otf");
}

.descriptioncontentdiv {
  width: 100%;
  color: white;
}

.title {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 50px;
  background-color: #654321;
  border-radius: 25px;
  box-shadow:
    0px 1px 10px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.24);
}
