.main {
  display: flex;
  justify-content: center;
}

.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: relative;
}

.nav_team_name h1 {
  font-family: "Space Grotesk", sans-serif;
}
.nav_team_name a {
  text-decoration: none;
  color: #58111a;
}

/* Mobile Navigation Styles */
.mobile_nav {
  display: none; /* Hidden by default */
}

.mobile_nav.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%; /* Position below the navbar */
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.open a {
  color: #000;
  text-decoration: none;
  margin-bottom: 10px;
  font-family: "Space Grotesk", sans-serif;
}

/* Desktop Navigation Styles */
.nav_links {
  display: flex;
  gap: 30px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .nav_links {
    display: none; /* Hidden for mobile by default */
  }
}
